@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "FunnelDisplay";
  src: url("/fonts/FunnelDisplay-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FunnelDisplay";
  src: url("/fonts/FunnelDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FunnelDisplay";
  src: url("/fonts/FunnelDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FunnelDisplay";
  src: url("/fonts/FunnelDisplay-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FunnelDisplay";
  src: url("/fonts/FunnelDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FunnelDisplay";
  src: url("/fonts/FunnelDisplay-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-funneldisplay:
    "FunnelDisplay", -apple-system, "Segoe UI", Helvetica, Arial, sans-serif;
}

:root {
}

.dark {
}

@layer utilities {
  .font-inter {
    font-family: "FunnelDisplay", sans-serif;
  }
}

@layer base {
  body {
    @apply font-funneldisplay;
  }
}
